html{
  height: 100vh;
}

.header{
  background-image: url("../img/2.jpg");
  height: 100%;
  background-size: cover;
}

header{
  margin-top: 5vh;
}

.logo{
  margin-top: 3vh;
}

.searchInput,
.searchButton,
.randomButton{
  width: 100%;
  border-radius: 0;
  outline: none;
}

.searchDiv,
.searchBtnDiv,
.randomDiv{
  padding: 0;
}

.alerts{
  display: none;
}

.smallLogo{
  margin-top: -23px;
  margin-bottom: 30px;
}

.smallLogo img{
  height:80px;
  display: none;
  margin: 0 0 0 auto;
}


.lightGray {
  background-color: rgba(0, 0, 0, 0.01);
}

.textArea{
  padding: 15px;
}
.resultImg{
  margin-top: 19px;
  margin-bottom: 19px;
  border: 1px solid black;
}

a{
  color: inherit;
}
a:hover{
  color: inherit;
  text-decoration:none;
  background-color: rgba(0, 0, 0, 0.04);
  border-left: 3px solid green;
  border-right: 3px solid green;
}
p{
  padding-bottom: 10px;
}

h4{
  padding-top: 10px;
}

header-container,header-chrome{
  display: none;
}

.iframeStyle, .randomArticle{
  height: 87vh;
}

@media(max-width:576px){
  .smallLogo img{
    height:70px;
    margin: 0 auto;
  }
  header {
    margin-top: 2vh;
  }
  .randomArticle{
    margin-top: -56px;
  }

}
.headContainer{
  background-color: white;
}

.randomArticle{
  margin-top: -56px;
  position: absolute;
  left: 0px;
  z-index: -1;
  width: 98vw;
}
